@import "css/jquery-ui";
@import "css/jquery-ui.structure";
@import "css/jquery-ui.theme";
@import "variables.scss";

body {
    background: $main-page;
    margin: 0;
    padding: 0;
    input, textarea {
      background: $main-page;
    }
    p, a, ul, li, input, textarea {
        font-size: 1em;
        font-family: $body-font;
        color: $gb-body-text;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: $heading-font;
        font-weight: 800;
        margin: 0;
        padding: 0;
        color: $gb-level1-face;
    }
    a {
        text-decoration: none;
    }
}

#pageCover {
    position: fixed;
    width: 100%;
    height: 100%;
    background: $gb-level3-face;
    opacity: 0.5;
    z-index: 1000;
    display: none;
}
#form-display {
    position: absolute;
    width: 100%;
    text-align: left;
    font-size: 0.9em;
    z-index: 1500;
    display: none;
    form {
        padding: 30px;
        background: $gb-background;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        margin: 120px auto;
        width: 60%;
        height: 70vh;
        .form-group textarea, .form-group input {
            width: calc(85% - 4em);
	        max-height: 250px;
        }
        .form-group input#flagged, .form-group input.add-another {
            width: auto;
            background: $gb-form-background;
            border: 2px solid $gb-alt-background;
        }
        a.close-dynamic-form {
            float: right;
            right: 20%;
            position: absolute;
            top: 140px;
        }
        h3 {
            color: $gb-level2-face;
        }
    }
}
#form-display-notes {
    width: calc(60% - 18px);
}

#all-actions-block {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 500;
    display: none;
    #aab-container {
        margin: 15% auto;
        padding: 25px 25px;
        background: #ffffff;
        border-radius: 25px;
        max-width: 900px;
        h2 {
            margin-bottom: 12px;
        }
        h3 {

        }
        .close-link {
            float: right;
        }
    }
    .aab {
        float: left;
        width: 31%;
        padding: 0 1%;
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                margin: 0 auto;
            }
        }
    }
    .aab-footer {
        display: block;
        clear: both;
        padding-top: 30px;
    }
}
#mainpage {
    width: 100%;
    min-width: 650px;
    margin: 0 auto;
    .main-content {
        float: left;
        width: 100%;
        min-height: calc(100vh - 60px);
        padding: 0 0 60px 0;
        background: $gb-background;
        .left-column {
            position: fixed;
            width: 400px;
            height: 100vh;
            background: $gb-alt-background;
            z-index: 500;
            span.logo a {
                font-size: 2em;
                color: $reverse-font;
                font-weight: bold;
                float: left;
                padding-left: 12px;
                margin-bottom: 24px
            }
            .nav-list {
                list-style: none;
                padding: 0;
                select {
                    margin-bottom: 24px;
                }
                div.left-nav-menu-item {
                    a {
                        width: 100%;
                        display: inline-flex;
                        li {
                            color: $gb-list-face;
                            padding: 8px 10px 0 0;
                            text-align: right;
                            height: 30px;
                            float: right;
                            width: 100%;
                        }
                        .menu-highlight {
                            background: $gb-alt-background;
                            width: 6px;
                            height: 38px;
                            float: right;
                        }
                    }
                }
                div.left-nav-menu-item.selected {
                    background: $gb-background;
                    a {
                        .menu-highlight {
                            background: $gb-level3-face;
                        }
                    }
                }
            }
            #search {
                .search-field {
                    margin: 0 auto;
                    width: 100%;
                    #search-form {
                        padding: 0;
                        margin-bottom: 30px;
                        background: $gb-alt-background;
                        input {
                            width: 90%;
                            margin: 0 3%;
                            border: 0;
                            padding: 4px;
                            background: $gb-form-background;
                            color: #fbf1c7;
                        }
                    }
                }
            }
            hr {
                width: 80%;
                border: 1px solid rgb(90,90,90);
            }
        }
        .main-column {
            float: left;
            padding: 22px 0 0 450px;
            width: calc(95% - 175px);
            max-width: 950px;
            background: $gb-background;
            .fixed-width-title {
                display: inline-block;
                width: 8em;
                font-weight: 800;
                padding-right: 0.5em;
                text-align: right;
            }
        }
        .main-column-notes {
            position: fixed;
            overflow: scroll;
            height: 100vh;
            width: calc(25% - 100px);
            padding: 0 0 0 400px;
        }
        .right-column {
            float: left;
            min-height: 100vh;
            text-align: left;
            padding: 0 0 0 0;
            font-size: 0.9em;
            width: calc(45% - 18px);
            background: $gb-alt-background;
            form {
                padding-top: 10px;
                a.close-dynamic-form {
                    float: right;
                    right: 16%;
                    position: absolute;
                    top: 52px;
                    color: $gb-note-link-face;
                }
            }
        }
        .right-column-notes {
            .right-column-content {
                position: fixed;
                overflow: scroll;
                height: 100vh;
                width: calc(75% - 324px + 24px);
                margin-left: calc(25% + 324px - 24px);
                background: $gb-background;
                padding-top: 56px;
                h1, h2, h3 {
                    color: $gb-heading-face;
                }
                h1 {
                    margin-bottom: 6px;
                }
                h2 {
                    margin-top: 18px;
                }
                h3 {
                    margin-top: 12px;
                }
                form, .form-group, input, textarea, select, button {
                    width: calc(85% - 2em);
                }
                form {
                    margin: auto;
                }
                .display-note {
                    padding: 42px 62px 76px 62px;
                    width: 60%;
                    background: $gb-alt-background;
                    margin: 0 auto 85px auto;
                    border-radius: 15px;
                    h2:first-of-type{
                        margin-top: 12px;
                    }
                    h2 {
                        margin-top: 38px;
                        font-size: 1.6rem;
                    }
                    h3 {
                        margin-top: 16px;
                        font-size: 1.3rem;
                    }
                    h4, h5 {
                        margin-top: 9px;
                        font-size: 1rem;
                    }
                    h5 {
                        font-weight: 400;
                        font-style: italic;
                    }
                    p, li {
                        line-height: 1.4em;
                    }
                    a {
                        color: $gb-note-link-face;
                    }
                    span {
                        font-size: 0.5em;
                        font-weight: normal;
                        margin-left:12px;
                    }
                    pre {
                        line-height: 1.2em;
                        background: #dedede;
                        padding: 14px 12px;
                        border-radius: 4px;
                        margin-left: 27px;
                    }
                    table {
                        border: 1px solid $mid-grey;
                        td {
                            text-align: left;
                            border: 1px solid $mid-grey;
                        }
                        th {
                            font-family: $heading-font;
                            font-size: 1.2em;
                            font-weight: 800;
                            text-align: left;
                            background: $dark-grey;
                            color: $reverse-font;
                            padding: 2px 16px;
                            border: 1px solid $mid-grey;
                        }
                        td.numbers {
                            text-align: center;
                        }
                    }
                    .tags-container {
                        display: inline-flex;
                        p {
                            padding-right: 6px;
                        }
                        ul.tags-list {
                            list-style: none;
                            padding-left: 0;
                            li.tags-list-item {
                                display: inline;
                                padding: 3px 10px;
                                background: $dark-blue;
                                color: white;
                                font-weight: bold;
                                margin-right: 10px;
                                border-radius: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.client-container, .project-container, .action-container {
    padding-left: 0;
}
.client-row, .project-row, .action-row {
    list-style: none;
    font-family: $heading-font;
    font-weight: bold;
}
.client-container {
    list-style: none;
    background: $gb-background;
    margin: 0 0 52px 0;
    .client-row {
        color: $gb-level1-face;
        line-height: 1;
        padding-bottom: 10px;
        & > span.client-title {
            font-size: 1.5em;
        }
        img.client-toggle {
            width: 12px;
            height: 12px;
            padding-left: 8px;
            fill: $dark-blue;
        }
        .client-icons {
            float: right;
            padding-left: 20px;
            a {
                color: $gb-level1-face;
                font-size: 0.9em;
                padding-left: 5px;
            }
        }
        .full-menu {
            display: inline-grid;
            position: relative;
            height: 0;
            width: 130px;
            margin-left: -130px;
            float: right;
            top: 6px;
            left: 182px;
            a {
                float: left;
                overflow: visible;
                display: inline-flex;
                color: $dark-blue;
                .icon-title {
                    display: inline;
                    font-size: 0.9em;
                    text-align: left;
                    margin: 3px 0 0 6px;
                }
            }
            .icon {
                width: 15px;
                height: 15px;
                padding: 5px 0 5px 6px;
                fill: $dark-blue;
            }
            .flag-icon-set {
                fill: $gb-warning-face;
            }
        }
        a.is-open {
            .icon {
                fill: $gb-level1-face;
            }
        }
        a.is-closed {
            .icon {
                fill: $mid-grey;
            }
        }
    }
}
.project-container {
    background: $gb-background;
    margin: 12px 0 20px 0;
    padding: 3px 0;
    .project-row {
        color: $gb-level2-face;
        .icon {
            padding: 1px 0 0 6px;
        }
        .project-drag-handle {
            width: 10px;
            float: left;
            background-image: -webkit-repeating-radial-gradient(center center, $gb-level2-face, $gb-level2-face 0.8px, transparent 1px, transparent 100%);
            background-image: -moz-repeating-radial-gradient(center center, $gb-level2-face, $gb-level2-face 0.8px, transparent 1px, transparent 100%);
            background-image: -ms-repeating-radial-gradient(center center, $gb-level2-face, $gb-level2-face 0.8px, transparent 1px, transparent 100%);
            background-image: repeating-radial-gradient(center center, $gb-level2-face, $gb-level2-face 0.8px, transparent 1px, transparent 100%);
            -webkit-background-size: 3px 3px;
            -moz-background-size: 3px 3px;
            background-size: 3px 3px;
            margin-right: 6px;
            cursor: move;
        }
        & > span.project-title {
            font-size: 1.2em;
        }
        img.project-toggle {
            width: 12px;
            height: 12px;
            padding-left: 8px;
            fill: $light-blue;
        }
        .project-icons {
            float: right;
            padding-left: 20px;
            a {
                color: $gb-level2-face;
                font-size: 0.9em;
                padding-left: 5px;
            }
        }
        .full-menu {
            display: inline-grid;
            position: relative;
            height: 0;
            width: 130px;
            margin-left: -130px;
            float: right;
            top: 2px;
            left: 182px;
            a {
                float: left;
                overflow: visible;
                display: inline-flex;
                color: $light-blue;
                .icon-title {
                    display: inline;
                    font-size: 0.9em;
                    text-align: left;
                    margin: 3px 0 0 6px;
                }
            }
            .icon {
                width: 15px;
                height: 15px;
                padding: 5px 0 5px 6px;
                fill: $light-blue;
            }
            .flag-icon-set {
                fill: $gb-warning-face;
            }
        }
        a.is-open {
            .icon {
                fill: $gb-level2-face;
            }
        }
        a.is-closed {
            .icon {
                fill: $mid-grey;
            }
        }
    }
    & > .action-row:last-of-type {
        margin-bottom: 6px;
    }
    .project-notes {
        background: $light-grey;
        margin: 0 20px 10px 20px;
        border-radius: 0 0 15px 15px;
        padding: 3px 0 7px 22px;
        font-size: 0.8em;
        color: #989898;
        display: none;
    }
}
.action-container {
    min-height: 10px;
    padding-top: 6px;
    .action-row {
        background: #282828;
        color: $gb-level3-face;
        font-family: $mono-font;
        font-size: 0.9em;
        font-weight: 300;
        display: inline-flex;
        align-items: center;
        width: calc(100% - 9px);
        min-height: 30px;
        margin: 8px 0 0 -9px;
        padding: 3px 9px;
        border-radius: 5px;
        .action-drag-handle {
            width: 10px;
            float: left;
            background-image: -webkit-repeating-radial-gradient(center center, $gb-level3-face, $gb-level3-face 0.8px, transparent 1px, transparent 100%);
            background-image: -moz-repeating-radial-gradient(center center, $gb-level3-face, $gb-level3-face 0.8px, transparent 1px, transparent 100%);
            background-image: -ms-repeating-radial-gradient(center center, $gb-level3-face, $gb-level3-face 0.8px, transparent 1px, transparent 100%);
            background-image: repeating-radial-gradient(center center, $gb-level3-face, $gb-level3-face 0.8px, transparent 1px, transparent 100%);
            -webkit-background-size: 3px 3px;
            -moz-background-size: 3px 3px;
            background-size: 3px 3px;
            cursor: move;
            margin: 0 9px 0 0;
        }
        .action-icons {
            float: right;
            a {
            }
            .icon {
                padding: 1px 0 0 6px;
                fill: $gb-level3-face;
            }
            .flag-icon-set {
                padding: 1px 0 0 6px;
                fill: $gb-warning-face;
            }
        }
        .full-menu {
            display: inline-grid;
            position: relative;
            height: 0;
            width: 130px;
            margin-left: -130px;
            float: left;
            top: -12px;
            left: 140px;
            a {
                float: left;
                overflow: visible;
                display: inline-flex;
                .icon-title {
                    display: inline;
                    font-size: 0.9em;
                    text-align: left;
                    margin: 3px 0 0 6px;
                }
            }
            .icon {
                width: 15px;
                height: 15px;
                padding: 5px 0 5px 6px;
                fill: $mid-grey;
            }
            .flag-icon-set {
                fill: $gb-warning-face;
            }
        }
        .action-title {
            overflow: hidden;
            float: left;
            flex: 1 1 0;
            padding-right: 12px;
            form {
                padding: 0;
                width: 100%;
                input#dynamic-title-field {
                    width: 70%;
                    color: black;
                    padding: 3px 6px;
                }
            }
            a.is-open {
                .icon {
                    fill: $gb-warning-face;
                }
            }
            a.is-closed {
                .icon {
                    fill: $mid-grey;
                }
            }
        }
        .action-flags {
            float: right;
            text-align: right;
            display: inline-flex;
            align-items: center;
            padding: 0 6px 0 0;
            input.date-flag {
                width: 70px;
                font-family: $mono-font;
                font-size: 0.8em;
                border: 0;
                border-radius: 2px;
                margin-right: 5px;
                padding: 3px 0;
                text-align: center;
                background: $gb-alt-background;
                color: $gb-level3-face;
            }
        }
    }
    .action-row-active {
        background: $gb-warning-face;
        color: #ffffff;
        .action-drag-handle {
            width: 10px;
            float: left;
            background-image: -webkit-repeating-radial-gradient(center center, #ffffff, #ffffff 0.8px, transparent 1px, transparent 100%);
            background-image: -moz-repeating-radial-gradient(center center, #ffffff, #ffffff 0.8px, transparent 1px, transparent 100%);
            background-image: -ms-repeating-radial-gradient(center center, #ffffff, #ffffff 0.8px, transparent 1px, transparent 100%);
            background-image: repeating-radial-gradient(center center, #ffffff, #ffffff 0.8px, transparent 1px, transparent 100%);
            -webkit-background-size: 3px 3px;
            -moz-background-size: 3px 3px;
            background-size: 3px 3px;
            cursor: move;
        }
        .icon {
            fill: #ffffff;
        }
        .action-flags {
            .flag-icon-unset {
                padding: 1px 0 0 6px;
                fill: #ffffff;
            }
        }
    }
    .notes-row {
        font-size: 0.9em;
        color: #646464;
    }
    .action-notes {
        background: $gb-light-background;
        margin: 0 20px 10px 20px;
        border-radius: 0 0 15px 15px;
        padding: 12px 42px 18px 22px;
        font-size: 0.8em;
        color: #989898;
        display: none;
        .action-notes-text {
            p, a, ul, li, input, textarea {
                color: $dark-grey;
            }
            h1, h2, h3, h4 {
                color: $gb-light-heading;
            }
            h1 {
                margin-top: 0;
                padding: 6px 0 3px 0;
            }
            h2 {
                padding: 3px 0 3px 0;
            }
        }
    }
    li.ui-state-highlight {
        padding: 5px;
    }
}

#note-container {
    margin: 0 0 0 10px;
    background: $gb-background;
    min-height: 100%;
    #note-search {
        margin-bottom: 14px;
    }
    .note-row {
        width: 88%;
        display: inline-block;
        align-items: center;
        padding: 7px 10px 18px 10px;
        margin: 6px 10px;
        background: $gb-alt-background;
        border-radius: 5px;
        .note-overview {
            font-size: 0.8em;
            margin: 0;
            padding: 3px 0 8px 0;
            color: $gb-form-item-face;
            font-family: $heading-font;
        }
    }
    .note-row-highlight {
        float: left;
        height: 100%;
        width: 6px;
    }
    .note-row-active {
        background: #83a598;
        .note-title {
            color: $gb-background;
        }
        .note-overview {
            font-size: 0.8em;
            color: $gb-background;
        }
        .note-icons {
            fill: $reverse-font;
        }
        .note-row-highlight {
            background: $gb-warning-face;
        }
    }
    .note-icons {
        float: left;
        margin-right: 6px;
        fill: $light-blue;
    }
    .note-title, .note-body {
        font-family: $body-font;
        font-size: 0.9em;
        font-weight: 300;
        width: 100%;
    }
    .note-title {
        font-family: $heading-font;
        font-size: 1.2em;
        float: left;
        font-weight: bold;
        color: $gb-level2-face;
        padding: 0 0 12px 0;
    }
    .note-body {
        margin-bottom: 18px;
        line-height: 1.4;
        padding: 6px 156px 12px 18px;
        width: 80%;
    }
}

form {
    padding: 10px;
    background: $gb-background;
    .form-group {
        margin: 12px 0;
        label {
            display: inline-block;
            width: 4em;
            font-family: $body-font;
            text-align: right;
            padding: 5px 15px 0 0;
            vertical-align: top;
            color: $gb-form-item-face;
        }
        textarea, select {
            width: 72%;
            background: $gb-form-background;
            border: 2px solid $gb-alt-background;
            color: $gb-form-item-face;
            padding: 3px;
            font-family: $body-font;
            font-size: 1em;
        }
        input, button {
            width: 70%;
            border: 2px solid $gb-alt-background;
            background: $gb-form-background;
            color: $gb-form-item-face;
            padding: 5px 10px 6px 0;
            margin: 0 0 10px 0;
        }
        .form-button, input[type=submit] {
            width: 72%;
            background: $gb-form-button;
            padding-top: 7px;
            color: $reverse-font;
            font-family: $body-font;
        }
        input.hard-left {
            width: 0;
            margin-top: 8px;
        }
        input.form-error {
            border: 2px solid $gb-warning-face;
        }
        input[type=checkbox] {
            width: auto;
            margin-top: 7px;
            background: $gb-form-background;
            border: 2px solid $gb-alt-background;
        }
        p.form-field-error {
            color: $gb-warning-face;
            margin: 0 0 0 calc(15% + 18px);
        }
    }
}
form#top-nav-client-select {
    margin: 0 auto;
    .form-group {
        margin: 0;
        select {
            height: 28px;
            width: 100%;
        }
    }
}
form.admin-order-clients {
    label {
        text-align: left;
        margin: 0 6px 0 12px;
        width: auto;
    }
    input {
        text-align: center;
        margin: 0.2em 0;
        padding: 3px 10px;
        width: 50px;
    }
    input.form-button {
        width: 180px;
    }
}
form.admin-agenda-opt-in {
    input {
        width: 15px;
        text-align: left;
        margin-top: 7px;
    }
}
form.login {
    span {
        display: inline-block;
        vertical-align: top;
        margin-top: 7px;
        font-family: $body-font;
        margin-left: 6px;
        font-size: 0.8em;
        color: $mid-grey;
    }
    input.checkbox {
        width: 20px;
        margin-top: 8px;
    }
    a.small-link {
        font-size: 0.7em;
    }
}
form.admin-reset-password {
    margin: 0;
    padding: 0 10px;
    label {
        color: $dark-grey;
        font-weight: 800;
    }
    .form-button {
        margin: 0;
    }
}
form.main-page-form {
    label {
        width: 20%;
    }
    input {
        text-align: left;
        margin: 0.2em 0;
        padding: 3px 10px;
        width: 69%;
    }
    .form-group input.form-button {
        width: 60%;
    }
}
form#search-notes-form {
    background: $gb-background;
    input {
        width: 90%;
        margin: 0 3%;
        border: 0;
        padding: 4px;
        background: $gb-form-background;
        color: #fbf1c7;
    }
}
button {
    background: $gb-form-button;
    padding: 7px;
    color: $gb-form-item-face;
    border: 2px solid $gb-alt-background;
}

table {
    margin: 12px 0 12px 2px;
    padding: 6px 12px;
    border: 1px solid $dark-blue;
    border-collapse: collapse;
    display: inline-table;
    color: $gb-body-text;
    td {
        padding: 6px 14px;
        text-align: right;
        border: 1px solid $light-blue;
        font-family: $body-font;
    }
    th {
        font-family: $heading-font;
        font-size: 1.2em;
        font-weight: 800;
        background: $dark-blue;
        color: $reverse-font;
        padding: 2px 16px;
    }
    td.numbers {
        text-align: center;
    }
}
.icon {
    width: 12px;
    height: 12px;
    padding: 4px 0 2px 0;
    .show-me-the-menu & {
        height: 20px;
        width: 20px;
        fill: $reverse-font;
    }
    .client-icons & {
        fill: $gb-level1-face;
        padding: 8px 0 0 4px;
    }
    .project-icons & {
        fill: $gb-level2-face;
        padding: 6px 0 0 4px;
    }
    .action-icons &, .action-title & {
        fill: $mid-grey;
    }
    .action-title & {
        padding: 2px 0 0 5px;
    }
    #navbar & {
        fill: $reverse-font;
        padding: 10px 10px 0 4px;
        width: 19px;
        height: 21px;
    }
}
.hasnotes {
    fill: $gb-warning-face;
}
.message-error, .message-status {
    position: absolute;
    display: block;
    height: 42px;
    padding: 25px 0 5px 16px;
    font-family: $body-font;
    color: $reverse-font;
    background: $light-blue-seethru;
    border-radius: 8px;
    margin: 60px 0 24px 24px;
    width: 30%;
    right: 13px;
    top: 0;
}
.message-status {
    background: rgba(0, 82, 121, 0.6);
}
a.visible-link, .display-note a {
    color: $light-blue;
}
strong {
    font-weight: 800;
}
ul.context-menu-list {
    position: absolute;
    background: #efefef;
    list-style: none;
    margin: 0;
    padding: 5px 0;
    width: 100px;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    -webkit-box-shadow: 3px 3px 10px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 10px -1px rgba(0, 0, 0, 0.5);
    li {
        padding: 6px 0;
    }
}
.action-title-project {
    color: $gb-comment-face;
    font-style: italic;
    padding-right: 4px;
}
.inline-link-form {
    padding: 0;
    float: left;
}
.hidden {
    visibility: hidden;
}

@media (max-width: 1600px) {
    #mainpage {
        .container {
            width: 80%;
        }
        .main-content {
            #navbar .menu li ul {
                right: calc(10% + 8px);
            }
            .right-column form a.close-dynamic-form {
                right: 11%;
            }
            .right-column {
                width: calc(50% - 18px);
            }
        }
    }
}
@media (max-width: 1350px) {
    #aab-container {
        width: 100%;
    }
    #mainpage {
        .container {
            width: 90%;
        }
        .main-content {
            .right-column form a.close-dynamic-form {
                right: 6%;
            }
            .left-column {
                width: 250px;
            }
            .main-column {
                float: left;
                padding: 22px 0 0 300px;
            }
            #navbar .menu li ul {
                right: calc(5% + 8px);
            }
        }
    }
}
@media (max-width: 980px) {
    #all-actions-block {
        .aab {
            width: 48%;
        }
        .aab-col-3 {
            display: none;
        }
    }
    .left-column {
        display: none;
    }
    #mainpage {
        .container {
            width: 100%;
        }
        .main-content {
            .right-column form a.close-dynamic-form {
                right: 2%;
            }
            #navbar .menu li ul {
                right: 8px;
            }
            .main-column {
                float: left;
                padding: 22px 0 0 70px;
                width: 80%;
            }
        }
    }
}
@media (max-width: 760px) {
    #mainpage {
        .main-content {
            .main-column {
                float: left;
                padding: 22px 0 0 20px;
                width: 80%;
            }
        }
    }
    .action-container .action-row {
        width: calc(100% - 200px);
    }
    .project-container .project-row, .client-container .client-row {
        width: 65%;
    }
    form {
        .form-group {
            label {
                display: block;
                width: auto;
                text-align: left;
            }
        }
        .form-group input, form .form-group button {
            width: 90%;
        }
    }
}

// Styles to override the JQueryUI datepicker
table.ui-datepicker-calendar {
    border: 0;
    th {
        font-size: 0.9em;
    }
}
.ui-widget-header {
    background: $light-blue;
    border: 2px $dark-blue;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    border: 1px solid $light-blue;
    background: $light-grey;
    font-weight: bold;
    color: $dark-blue;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: $dark-blue;
    background: $light-grey;
    font-weight: bold;
    color: $gb-warning-face;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid $dark-blue;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: $dark-blue;
    color: $light-grey;
}

// Style for the placeholder when dragging actions
.ui-state-highlight {
    height: 30px;
    background: $light-blue;
    opacity: 0.3;
}

.clear-search {
    padding-left: 0.3em;
    text-decoration: underline;
                        code {
                        }
}
