/* Defined colours */
$client-container: #003B400A;
$project-container: rgba(0, 144, 212, 0.04);
$dark-blue: #003B40;
$light-blue: #0090D4;
$light-blue-seethru: rgba(0,144,212, 0.75);
$container-background:rgba(0, 82, 121, 0.2);
$light-grey: #ededed;
$mid-grey: #989898;
$dark-grey: rgb(70, 70, 70);
$dark-grey-highlight: rgb(90, 90, 90);
$main-page: #ffffff;
$reverse-font: #ffffff;
$label-success: #889E57;
$highlight: #DB162E;

// Gruvbox colors
// dark
$gb-background: #1d2021;
$gb-alt-background: #282828;
$gb-form-background: #504945;
$gb-form-button: #076678;
$gb-body-text: #ebdbb2;

$gb-level1-face: #b8bb26;
$gb-level2-face: #fe8019;
$gb-level3-face: #ebdbb2;
$gb-comment-face: #665c54;

$gb-heading-face: #fe8019;
$gb-note-link-face: #458588;

$gb-list-face: #8ec07c;
$gb-form-item-face: #fbf1c7;
$gb-warning-face: #fb4934;

// light
$gb-light-background: #ebdbb2;
$gb-light-heading: #79740e;

// Fonts
$heading-font: 'Lato', sans-serif;
$body-font: 'Raleway', sans-serif;
$mono-font: 'Fira Mono', monospace;
